<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RepositorySettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <!-- Csv repository settings -->
  <!--<RepositorySettings>
    <add key="PluginPath" value="d:\projects\assemblyloadcontext\src\PeopleRepository.Csv\bin\Debug\netstandard2.0\PeopleRepository.Csv.dll" />
    <add key="RepositoryTypeName" value="PeopleRepository.Csv.CsvRepository, PeopleRepository.Csv, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <add key="RepositoryTypeParam" value="d:\projects\torold\Interfaces_teszt\05\PeopleViewer.Basic\bin\Debug\netcoreapp3.0\People.txt" />
  </RepositorySettings>-->

  <!-- Service repository settings -->
  <!--<RepositorySettings>
    <add key="PluginPath" value="d:\projects\assemblyloadcontext\src\PeopleRepository.Service\bin\Debug\netcoreapp3.0\PeopleRepository.Service.dll" />
    <add key="RepositoryTypeName" value="PeopleRepository.Service.ServiceRepository, PeopleRepository.Service, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <add key="RepositoryTypeParam" value="https://localhost:5001" />
  </RepositorySettings>-->

  <!-- Sql repository settings -->
  <RepositorySettings>
    <add key="PluginPath" value="d:\projects\assemblyloadcontext\src\PeopleRepository.Sql\bin\Debug\netcoreapp3.0\PeopleRepository.Sql.dll" />
    <add key="RepositoryTypeName" value="PeopleRepository.Sql.SqlRepository, PeopleRepository.Sql, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <add key="RepositoryTypeParam" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=PeopleDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </RepositorySettings>
</configuration>