<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RepositorySettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <RepositorySettings>
    <add key="PluginPath" value="d:\projects\assemblyloadcontext\src\PeopleRepository.Csv\bin\Debug\netstandard2.0\PeopleRepository.Csv.dll" />
    <add key="RepositoryTypeName" value="PeopleRepository.Csv.CsvRepository, PeopleRepository.Csv, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <add key="RepositoryTypeParam" value="d:\projects\torold\Interfaces_teszt\05\PeopleViewer.Basic\bin\Debug\netcoreapp3.0\People.txt" />
  </RepositorySettings>
</configuration>